@media (max-width: 1200px) {
    .sidepanel {
        &-main {
            display: none;
            }
        }
    .container {
        max-width: 960px;
    }
    .about {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2,minmax(115px,auto)/repeat(2,250px));
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        padding-top: 60px;
        &__wrapper {
            column-gap: 45px;
        }
    }
    .skills {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
    }
    .progress {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            padding: 0 30px;
        }
    }
    .works {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-between;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        padding-top: 60px;
        &__wrapper {
            padding: 0;
            grid-template-columns: 400px 520px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
    .pageup {
        bottom: 10px;
        right: 10px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 992px;
    }
    .title {
        font-size: 14px;
    }
    .promo .promo_text {
        display: none;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
        &__section-title {
                margin-bottom: 20px;
        }
    }
    .about {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px
            }
        }
    }
    .resume {
        padding-top: 60px;
        &__wrapper {
            padding: 40px 0 0 30px;
            grid-template-columns: repeat(2,320px);
            row-gap: 45px;
        }
    }
    .skills {
        &__wrapper {
            justify-content: center;
        }
    }
    .progress {
        &__wrapper {
            grid-template-columns: repeat(2, 350px);
            padding: 0;
            column-gap: 20px;
            row-gap: 20px;
        }
    }
    .works {
        &__wrapper {
            justify-content: center;
            row-gap: 0;
            gap: 13px;
        }
        &__item {
            &-title {
                opacity: 1;
                z-index: 1;
                height: 40%;
                span {
                    font-size: 15px;
                }
            }
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px 400px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 195px);
        }
        &__btn {
            padding: 8px 25px;
            line-height: 16px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .menu {
        &__social {
            bottom: 25%;
        }
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            padding: 30px 65px 0 70px;
            grid-template-columns: repeat(1, 350px);
        }
        .divider {
            margin: 0 auto;
        }
    }
    .skills {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: repeat(2, 260px);
            padding: 60px 0 0 0;
        }
    }
    .progress {
        display: none;
    }
    .works {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: repeat(2, 260px);
            row-gap: 20px;
        }
        &__item {
            &-title {
                opacity: 1;
                z-index: 1;
                height: 40%;
                span {
                    font-size: 15px;
                }
            }
        }
    }
    .contacts {
        padding-top: 40px;
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 25px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
        &__social {
            bottom: 25%;
        }
    }
    .promo {
        background: url('../img/nebo.jpg') no-repeat 47%/cover;
        &__btns {
            margin-top: 32px;
        }
        &__title {
            width: 250px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 300px;
            padding: 30px 10px 0 10px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 270px);
        }
    }
    .works {
        &__wrapper {
            justify-content: center;
            grid-template-columns: repeat(auto-fit, 280px);
        }
        &__item {
            &-title {
                opacity: 1;
                z-index: 1;
                height: 40%;
                span {
                    font-size: 15px;
                }
            }
        }
    }
    .title {
        &__section {
            &-subtitle {
                font-size: 23px;
            }
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
    .pageup {
        width: 35px;
        height: 35px;
    }
}