.prices {
    padding-top: 60px;
    &__wrapper {
        margin-top: 60px;
        padding: 0 50px;
        display: grid;
        grid-template: repeat(3, minmax(44px, auto)) / repeat(2, 366px);
        grid-auto-rows: minmax(44px, auto);
        row-gap: 15px;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        display: grid;
        grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
        row-gap: 5px;
        &-title {
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: $main-color;
                border-radius: 100%;
                left: -25px;
                top: 10px;
                transform: translateY(-50%);
            }
        }
        &-price {
            justify-self: end;
        }
        &-descr {
            grid-column: 1 / 3;
        }
    }
}