.progress {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        grid-row: auto;
        grid-column: auto;
        column-gap: 45px;
        row-gap: 35px;
    }
    &__item{
        display: grid;
        grid-template: minmax(21px,auto) 14px / 200px 35px;
        justify-content: space-between;
        align-content: space-between;
    }
    &__title {
        position: relative;
        padding: 2px 0 0 13px;

        @include before_circle;
    }
    &__bar {
        &-line {
            width: 350px;
        height: 14px;
        background: #E8E4DE;
        border-radius: 4px;
        grid-column: 1 / 3;
        &-counter {
            font-size: 14px;
            line-height: 21px;
        }
        span {
            display: block;
            height: 100%;
            background-color: $main-color;
            border-radius: 4px;
        }
        }
    }
}